:root {
  --mantine-cursor-type: pointer;
}

input[readonly].mantine-Select-input {
  background-color: #fff;
}

.wpc-container {
  padding: 1rem;
  max-width: 1280px;
}

@media screen and (max-width: 782px) {
  .wpc-container {
    padding-right: 10px;
  }
}
